#image{
    width: 90%;
  max-width: 300px;
    display: block;
    margin: auto;
  }
  
  h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }

  p{
    margin: 10px 10px;
    text-align: center;
  }
  
  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    background-color: #d3cb5b ;
    }
  
  figcaption, h1, .tracklist p{
    text-align: center;
  }
  
  figcaption{
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
  }
  
  .bold{
    font-weight: 800;
  }
  
  .italic{
    font-style: italic;
  }
  
  .border{
     border-radius: 30px;
  }
  
  fieldset{
    background-color: #7e7421;
    border: none;
    color: white;
  }
  
  #imgcol{
    height: 300px;
     max-width: 100%;
    display: block;
    margin: auto;
  }

  li{
    list-style: none;
    margin-bottom: 10px;
  }

  
@media (max-width: 480px) {
    h1 {
      font-size: 28px;
    }
  }
  